@model Bloomfiy_final.Models.Order
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Order Success";
}

<section class="checkout-success container">
    <h2>🎉 Order Placed Successfully!</h2>

    <p>Your order number is <strong>#@Model.OrderId</strong></p>

    <a href="/Order/MyOrders" class="btn-view-orders">View My Orders</a>
    <a href="/" class="btn-home">Back to Home</a>
</section>
